body {
   background-color: #181511;
   color: #ACA592;
   font-family: 'Old Standard TT', serif;
   font-size: 11px;
   text-transform: uppercase;
   height: 5710px;

}

.wrapper {
   overflow: hidden;
}

.container {
   width: 100%;
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

/* Header */

.header {
   width: 100%;
}

.header__top {
   height: 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

}

.header__logo {
   margin-right: 42px;
   font-size: 22px;
   line-height: 127%;
   text-transform: none;
   color: #FFAE2B;
}

.main {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}

/* Header menu */

.menu {
   display: flex;
   column-gap: 40px;
}

.menu__link {
   display: block;
   line-height: 218%;
   color: inherit;
}

.menu__link:hover {
   color: #FFAE2B;

}


.menu-btn {
   display: block;
}

.menu-btn__link {
   margin-left: auto;
   display: block;
   padding: 15px 23px;
   color: #FFAE2B;
   border: 1px solid;
   border-radius: 3px;


}

.menu-btn__link:hover {
   background-color: #fff;
}

/* intro */

.intro {
   width: 100%;
   height: 602px;
   background: url('../img/Image-upper.jpg') no-repeat center / cover;
   text-align: center;
}

.container-intro {
   max-width: 858px;
   margin: 0 auto;
}

.intro__subtitle {
   padding-top: 120px;
   margin-bottom: 10px;
   font-size: 12px;
   line-height: 183%;
   letter-spacing: 2px;
   color: #FFAE2B;
}



.intro__title {
   margin-bottom: 49px;
   font-size: 70px;
   line-height: 114%;
   letter-spacing: 1px;
   text-transform: none;
   color: #fff;
}

.intro__btn {
   padding: 20px 28px;
   line-height: 22px;
   color: #181511;
   background-color: #FFAE2B;
   border-radius: 3px;
}

.intro__btn:hover {
   transform: scale(1.4);
}


/* Template Pages */

.template-pages__subtitle {
   padding-top: 120px;
   margin-bottom: 10px;
}

.subtitle {
   font-size: 12px;
   line-height: 1.83;
   text-align: center;
   letter-spacing: 2px;
}

.template-pages__title {
   margin-bottom: 60px;
}

.title {
   font-size: 60px;
   line-height: 1.17;
   text-align: center;
   color: #FFAE2B;
   text-transform: none;
}

.template-pages__wrapper {
   margin-bottom: 121px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 387px 20px 387px 20px 387px;
   grid-template-columns: repeat(3, 387px);
   gap: 20px;

}

.template-pages__product {
   padding: 41px;
   display: flex;
   flex-direction: column;
   border: 1px solid #4B4136;
   text-align: center;
}

.product img {
   padding-bottom: 20px;
}

.product a {
   color: #fff;
   font-size: 13px;
   line-height: 1.77;
   letter-spacing: 2px;
}


/* Outro image section*/

.outro {
   background-color: #181511;
   position: relative;
   height: 500px;
}

.outro__image {
   position: absolute;
   width: 100%;
   display: block;
   top: 0;
   left: 0;
   object-fit: cover;
}


/* Services section */

.services__subtitle {
   padding-top: 114px;
   margin-bottom: 10px;
}

.services__title {
   margin-bottom: 60px;
}


/* Services-catalog */

.services-catalog {
   display: flex;
   flex-wrap: wrap;
   text-transform: none;
}

.catalog {
   flex: 0 1 33.333%;
}

.catalog__item {
   margin-bottom: 115px;
   padding: 61px;
   min-width: 400px;
   height: 350px;
   border: 1px solid #4B4136;
}

.catalog__icon {
   width: 60px;
   height: 60px;
   margin-bottom: 20px;
}

.item {}

.catalog__title {
   font-size: 29px;
   line-height: 138%;
   color: #FFAE2B;
}

.catalog__subtitle {
   font-size: 15px;
   line-height: 173%;
   color: #ACA592;
   margin-bottom: 5px;
}

.catalogue__text {
   line-height: 236%;
   color: inherit;
   margin-bottom: 15px;
}

/* Section "follow me" */


.follow__wrapper {
   margin-bottom: 125px;
   display: flex;
   justify-content: space-between;
   min-height: 282px;
   padding: 21px 0;
   border: 1px solid #363636;

}


.follow__item {
   /* position: relative; */
   top: 0;
   left: 0;
   object-fit: cover;
   max-width: 217px;
}



/* .follow__icon {
   position: absolute;
   z-index: 101;
} */

.box__wrapper {
   padding: 40px;
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   text-align: center;
}


.box__title {
   margin-bottom: 40px;
   font-size: 40px;
   line-height: 125%;
   color: #FFAE2B;
   text-transform: none;
}

.box__link {
   padding: 14px 24px;
   max-width: 122px;
   max-height: 50px;
   line-height: 200%;
   color: #181511;
   background-color: #FFAE2B;
   border-radius: 3px;
}


/* Subscribe section */

.subscribe {
   text-align: center;
   text-transform: none;
}

.suscribe__inner {
   margin: 0 auto;
   max-width: 600px;
}


.subscribe__title {
   margin-bottom: 20px;
   font-size: 60px;
   line-height: 117%;
   color: #FFAE2B;
}

.subscribe__text {
   margin-bottom: 60px;
   font-size: 12px;
   line-height: 233%;
   color: #ACA592;
}

.subscribe__form {
   margin-bottom: 32px;
}

.subscibe__disclaimer {
   font-size: 14px;
   line-height: 143%;
   color: #ACA592;
   margin-bottom: 20px;
}
.disclaimer__link {
   text-decoration: underline;
   color: #FFAE2B;
}
.gold {
   color: #FFAE2B;
}

.subscribe__list {
   margin-bottom: 39px;
}

.list {}

.list__item {}


/* Footer */

.footer__inner {
   display: flex;
   border-top: 1px solid #4B4136;
   justify-content: space-between;
   align-items: center;
   height: 72px;
   text-transform: none;
}

.footer__text {
   font-size: 12px;
   line-height: 183%;
}

.footer__links {
   display: flex;

}

.footer__item {
   line-height: 273%;
   color: #FFAE2B;
   margin-right: 11px;
}

.footer__item::after {
   content: '';
   display: inline-block;
   width: 2px;
   height: 12px;
   background-color: #4B4136;
}

.footer__item:last-child {
   margin: 0;
}

.footer__item:last-child::after {
   display: none;
}